.card {
  width: 250px;
  .cover {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  .rate {
    display: block;
    margin-bottom: 0.5rem;
  }
  .description {
    font-size: 1.5rem;
  }
  .numberContainer {
    .numberLabel {
      font-size: 1rem;
      margin-right: 1rem;
    }
    .numberInput {
      margin-bottom: 0.5rem;
    }
  }
}
