.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  .button-container {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }
  .hidden-complete-button {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 400px;
  }
}
